@media only screen and (max-width: 1300px){
	#wrapper{ background:yellow; }
}
@media only screen and (max-width: 500px){
	#wrapper{ background:red; }
}
@media only screen and (max-width: 500px){
	#wrapper{ background:blue; }
}