html, button, input, select, textarea{
	color:#fff;
}

html{
	font-size: 1em;
	line-height: 1.4;
	background-color: #34484e;
	font-family: raleway, sans-serif;
}
header{
	height:auto;
	padding-bottom: 5%;
	width:60%;
	margin:auto;
}
img{
float:right;
width:220px;
border:1px solid;
border-color: #ccc;
border-radius: 3px;
font:#000;
box-shadow:2px 4px rgba(0,0,0,0.2);
}

#wrapper{
	max-width: 900px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}
footer{
	text-align:center;
	padding-top:20px;
	
}
a{color: #48DA9B; padding-left:40px;}

div > h1{
font-family: open-sans, sans-serif;
color: #48DA9B;
}
section > h3{
	color: #48DA9B;
}
#info{
	margin-top:1em;
	width:100%;
	
	
}
#crdn{	
float: right;
color: #48DA9B;
margin-top: -17%;
margin-right: -57%;
}
.tooltip{
	position: relative;
    display: block;
	line-height:30px;
    /*padding-left:40px*/ }
.tooltip .tooltiptext {
	font-size:0.7em;
    visibility: hidden;
    width: auto;
    color: white;
    position:initial;
    z-index: 1;
	display: block;
}
.tooltiptext{
	line-height:15px
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
 a> i:hover{
	 color:white;
 }
.container{
	width: 90%;
  background-color: #ddd;
  border-radius:10px;
}
.lang{
  text-align: right;
  padding-right: 20px;
  line-height: 37px;
  color: white;
}

section{
	border: 1px solid white;
	margin-top:15px;
	padding-left:20px;
	padding-right:10px;
}
.langue{
	
	width:60%
	
}

.hobbies{
	width:30%;
	float:right;
	
}

dt{
	font-weight:bold;
}
ul{
	list-style-type:none
}
li>i, dt>i{
	color: #48DA9B;
}